.header {
  width: 1280px;
  margin: 0 auto;
}

.logo {
  padding: 30px;
}

.background {
  background-image: url("./assets/background.jpg");
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer {
  width: 1280px;
  height: 100px;
  margin: 0 auto;
  padding: 30px;
}

.copyright {
  display: block;
}

.license a {
  text-decoration: none;
  font-size: 14px;
}